#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.form-field label {
  font-weight: 600;
}

.form-field input {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}